html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: black;
}

body, html {
  margin: 0;
  height: 100%;
  padding: 0;
}

#table {
  background: center/cover no-repeat url("../images/blackjack_table_ZoomedCrop1.png");
  height: 98%;
}

.dealer, .player {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.invisible {
  display: none !important;
}

label {
  width: 600px;
  font-size: 28px;
  color: white;
  font-weight: 400;
}

.dealer-position {
  position: absolute;
  top: 20%;
}

.player-position {
  position: absolute;
  top: 10%;
}

.cards {
  position: absolute;
  bottom: 28%;
  height: 140px;
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 200px;
  width: 500px;
}

img {
  height: 200px;
  -webkit-transition: -webkit-transform .35s;
  transition: -webkit-transform .35s;
  transition: transform .35s;
  transition: transform .35s, -webkit-transform .35s;
}

.card-wrapper {
  position: relative;
}

.card-wrapper:not(:first-child) {
  margin-left: -100px;
}

.card-wrapper:hover img {
  -webkit-transform: translatey(-30%);
          transform: translatey(-30%);
}

.buttons {
  position: absolute;
  bottom: 7%;
}

.main-button {
  display: inline-block;
  border: white 2px solid;
  padding: 10px;
  width: 100px;
  text-align: center;
  color: white;
  border-radius: 5px;
  font-size: 22px;
  line-height: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.main-button:not(:last-child) {
  margin-right: 30px;
}

.main-button:hover {
  color: #005712;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
}

.info {
  position: absolute;
  bottom: calc(55% - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: red;
  width: 400px;
  height: 200px;
  font-size: 40px;
  border-radius: 10px;
  z-index: 20;
  padding: 25px;
  margin: 0 auto;
  left: calc(50% - 400px / 2);
  -webkit-box-shadow: 0 0 100px 50px black;
          box-shadow: 0 0 100px 50px black;
  border: black solid 2px;
}

.info.green {
  background-color: #005712;
  border: white solid 2px;
  -webkit-box-shadow: 0 0 250px 100px white;
          box-shadow: 0 0 250px 100px white;
}

.info.gray {
  background-color: gray;
}

#background-opacity {
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.smaller-font {
  font-size: 24px;
}

#busted-message > .main-button:hover, #lost-message > .main-button:hover {
  color: red;
}

#winner-message > .main-button:hover {
  color: #005712;
}

#draw-message > .main-button:hover {
  color: gray;
}

.disabled {
  background-color: gray;
  cursor: default !important;
  border: none !important;
  opacity: 50%;
  pointer-events: none;
}

.not-visible {
  visibility: hidden;
}
/*# sourceMappingURL=style.css.map */