/* img[alt="table-background"] {
    width: 100%;
    max-width: 100vw;
    min-width: 600px;
    overflow: hidden;
    max-height: 100vh;
    margin: 0 auto;
    width: auto;
    height: auto;
} */
/* 
body {
    background-color: black;
}

.table {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100vh;
} */

html, body {
    margin: 0;
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    background-color: black;
    z-index: -100;
}
  
body * {
    box-sizing: inherit;
}

#table {
    height: 98vh;
    background: center / cover no-repeat url("../images/blackjack_table_ZoomedCrop1.png");
    z-index: 100;
    max-width: 1000px;
    margin: 0 auto;
}

.hand {
    height: 120px;
}

.dealer {
    height: 50%;
    /* border: red solid 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    height: 50%;
    /* border: red solid 10px; */
    display: flex;
    justify-content: center;
    align-items: center;

}

/* #player-hand {
    display: flex;
    width: 300px;
} */

.cards {
    display: flex;
    align-content: center;
    /* max-width: 100px; */
    /* width: 90px; */
    /* width: calc(90px + 2 * 23.9px); */
    width: 90px;
}

.cards:hover {
    width: calc(90px + 3 * 23.9px);
}
  
.cardWrapper {
overflow: hidden;
}


.cardWrapper:last-child {
    overflow: visible;
}


.cardWrapper:hover {
    position: relative;
    bottom: 5px;
    overflow: visible;
    z-index: 500;
} 
  
.card {
    height: 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-name {
    color: white;
    width: 400px;
}

.dealer-position {
    position: absolute;
    top: 3rem;
}
.player-position {
    position: absolute;
    bottom: 17rem;
}

/* .buttons {
    display:  block;
    color: white;
    position: absolute;
    bottom: 5%;
} */

a.button1 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
}

a.button1:not(.disabled):hover{
    color: #000000;
    background-color: #FFFFFF;
}
@media all and (max-width:30em){
    a.button1{
        display:block;
        margin:0.4em auto;
    }
}

.buttons {
    position: absolute;
    bottom: 10%;
}

.disabled {
    background-color: gray;
    cursor: default !important;
    border: none !important;
    opacity: 50%;
    pointer-events: none;
}

.invisible {
    display: none !important;
}

.info {
    position: absolute;
    bottom: calc(55% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: red;
    width: 400px;
    height: 200px;
    font-size: 40px;
    border-radius: 10px;
    z-index: 20;
    padding: 25px;
}

#background-opacity {
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.smaller-font {
    font-size: 22px;
}
/* a.button2 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
}

a.button2:not(.disabled):hover{
    color: #000000;
    background-color: #FFFFFF;
} */

.green {
    background-color: green !important;
}
.gray {
    background-color: rgb(75, 75, 75) !important;
}